alembic
asyncpg
black
email-validator
fastapi
FastAPI-SQLAlchemy
mypy
passlib
pillow
psycopg2
psycopg2-binary
pydantic
pydantic-settings
pytest
python-dotenv
python-jose
python-multipart
requests
SQLAlchemy
SQLAlchemy-Utils
sqlmodel
tenacity
types-passlib
types-python-jose
uvicorn